/* page accueil mobile */

nav {
  background-color: $gris-secondaire;
  box-shadow: inset 0px 2px 5px #c7c7c7;
  @extend %flex-center;

  input {
    border: none;
    background-color: transparent;
    padding: 13PX 10PX;
    text-align: center;
  }
}

.presentation {
  background-color: $gris-principale;
  padding: 50px 30px;
  @extend %flex-center;
  flex-direction: column;

  h1 {
    margin: 0px;
  }

  P {
    font-weight: 200;
  }

  a {
    @include bouton(70%);
    padding: 15px;
    margin-top: 15px;
    text-decoration: none;
  }

  a:hover {
    background: linear-gradient(#fdabe6, #b178f7);
    box-shadow: 0px 2px 10px #8b8a8a;
  }
}

.fonctionnement {
  margin: 50px 20px;

  ul {
    @extend %flex-column;
    padding: 0px;
    list-style: none;
    align-items: center;

    li {
      @extend %flex-center;
      @include dimension(70px, 25px, 325px);
      background-color: $gris-principale;
      box-shadow: 0px 6px 17px #c7c7c7;
      margin: 10px;
      justify-content: space-evenly;
      font-weight: bold;

      span {
        @extend %flex-center;
        @include dimension (25px, 25px, 25px);
        background-color: $fond-violet;
        color: $txt-fond-sombre;
        position: absolute;
        margin-left: -322px;
      }
    }
  }
}

#resto {
  background-color: $gris-principale;
  @extend %flex-column;
  padding: 20px;

  .bloc-resto {
    @extend %flex-column;
    @include dimension (265%, 25px, 100%);
    background-color: white;
    box-shadow: 0px 6px 17px #c7c7c7;
    margin-bottom: 20px;
    position: relative;

    .image {
      text-decoration: none;
    }

    img {
      object-fit: cover;
      @include dimension (170px, 25px 25px 0px 0px, 100%);
    }

    span {
      @extend %flex-center;
      @include dimension (30px, 5px, 90px);
      color: #149273;
      background-color: $fond-vert;
      position: absolute;
      right: 20px;
      top: 7px;
    }

  }

  .txt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $txt-fond-clair;
    padding: 5%;

    strong {
      font-size: larger;
      font-weight: bold;
      margin: 0%;
    }

    p {
      margin: 0%;
      padding-top: 5%;
    }
  }

  .bloc-resto {

    position: relative;

    .btn-coeur {
      border: none;
      background-color: transparent;
      height: 30px;
      position: absolute;
      bottom: 30px;
      right: 20px;

    }

    .fa-solid {
      position: absolute;
      bottom: 0px;
      right: 6px;
      color: transparent;
      line-height: normal;
      transition: all 0.3s linear;
    }

    .fa-solid:hover {
      background: linear-gradient($fond-rose, $fond-violet);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transform: scale(1.5);
    }


  }

}

/* page d'accueil desktop */

@media screen and (min-width: 992px) {

  .desktop {
    display: flex;
    justify-content: space-around;
    background-color: $gris-secondaire;
  }

  .presentation {
    background-color: $gris-secondaire;
  }

  .desktop-resto {
    display: flex;
  }

  .bloc-resto {
    margin: 10px;
  }



}

/* page menu */


article {
  img {
    @include dimension (100%, 0px, 100%, );
    object-fit: cover;
  }
}

.titremenu {
  @extend %flex-center;
  justify-content: flex-start;
  font-family: 'Shrikhand', cursive;
  font-size: smaller;

  i {
    font-size: x-large;
    padding-left: 45px;
  }

  i:hover {
    background-image: linear-gradient($fond-rose, $fond-violet);
  }
}

.menu {
  @extend %flex-column;
  background-color: $gris-principale;
  padding: 15px;


  #espace {
    @include dimension (30PX, 30PX 30PX 0 0, 100%);
    left: 0;
    position: absolute;
    margin-top: -45px;
    background-color: $gris-principale;
  }

  h1 {
    margin-top: 0;
  }

  h2 {
    font-weight: 200;

  }

  hr {
    border-top: 4px solid $fond-vert;
  }

  .boxmenu {
    @extend %flex-column;
    @include dimension (80px, 25px, 100%);
    background-color: white;
    box-shadow: 0px 6px 17px #c7c7c7;
    margin: 20px 0px;
    padding: 15px;

    .txtmenu {
      @extend %flex-center;
      text-align: left;
      justify-content: space-between;
      color: $txt-fond-clair;
      padding-top: 8px;

    }

    span {
      font-weight: bold;
    }

    h3,
    p {
      margin: 0;
      direction: ltr;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  A {
    @extend %flex-center;
    @include bouton (60%);
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
  }

}