nav {
    background-color: $gris-secondaire;
    box-shadow: inset 0px 2px 5px #c7c7c7;
    @extend %flex-center;
   
    input{
        border: none;
        background-color: transparent;
        padding: 13PX 10PX;
        text-align: center;
        }
    }

.presentation {
    background-color: $gris-principale;
    flex-direction: column;
    padding: 35px;
    @extend %flex-center;

    h1 {
      margin: 0px;
      text-align: center;
    }
    
    P {
      color: rgb(86, 82, 82);
      text-align: center;
      background-color: red;
    }


    button {
        background: linear-gradient($fond-rose, $fond-violet);
    }
}