

/* page accueil */

nav {
    background-color: $gris-secondaire;
    box-shadow: inset 0px 2px 5px #c7c7c7;
    @extend %flex-center;
   
    input{
        border: none;
        background-color: transparent;
        padding: 13PX 10PX;
        text-align: center;
        }
    }

.presentation {
    background-color: $gris-principale;
    padding: 50px 30px;
    @extend %flex-center;
    flex-direction: column;

    h1 {
      margin: 0px;
    }
    P{
      font-weight: 200;
    }
    button {
       @include bouton(66%);
    }
}

.fonctionnement {
  margin: 10px;
    
  ul {
    @extend %flex-column;
    padding: 0px;
    list-style: none;

       li {
        @extend %flex-center;
        @include dimension(325px,70px,25px);
        background-color: $gris-principale;
        box-shadow: 0px 6px 17px #c7c7c7;
        margin: 10px;
        justify-content: space-evenly;
        font-weight: bold;
        
              span {
                    @extend %flex-center;
                    @include dimension (25px,25px,25px);
                    background-color: $fond-violet;
                    color:$txt-fond-sombre;
                    position: absolute;
                    left: 9px;
                  }
       }
  }
}
.resto {
  background-color: $gris-principale;
  @extend %flex-column;
  padding: 20px;

    .image {
      @extend %flex-column;
      height: 265%;
      border-radius: 25px;
      text-decoration: none;
      background-color: white;
      margin: 10px;
      
        img {
        object-fit: cover;
        @include dimension (100%,170px,25px 25px 0px 0px);
       }

       span {
        @extend %flex-center;
        @include dimension (90px,30px,5px);
        color: #1b876c;
        background-color: $fond-vert;
        position: absolute;
        right: 45px;
       }
       .txt {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;
        color: $txt-fond-clair;
        
                  h2, p {
                  margin: 0%;
                }
       }
       
    }
}




/* page menu */