@import "utils/_variable";
@import "utils/_mixin";
@import "utils/_placeholder";

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

* {
    box-sizing: border-box;
}
.container {
    max-width: 765px;
    margin-right:auto;
    margin-left:auto;
    font-family: 'Source Sans Pro', sans-serif;
  }

@import "layouts/_layout.scss";
@import "page/_accueil.scss";