@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Shrikhand&display=swap');
* {
    box-sizing: border-box;
}

/* desktop */

@media screen and (max-width: 1170px){

.container {
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Roboto', sans-serif;
}
}

/* tablette */

@media screen and (max-width: 992px) {
    .container {
        max-width: 992px;
        margin-right: auto;
        margin-left: auto;
        font-family: 'Roboto', sans-serif;
     }
}
/* mobile */

.container {
    max-width: 765px;
    margin-right:auto;
    margin-left:auto;
    font-family: 'Roboto', sans-serif;
    
}
