@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Shrikhand&display=swap');
* {
    box-sizing: border-box; 
}
/* mobile */

.container {
    margin-right:auto;
    margin-left:auto;
    font-family: 'Roboto', sans-serif;
    @extend %loading-spinner; 
}

/* tablette */

@media screen and (min-width: 768px) {

    .container {
        margin-right: auto;
        margin-left: auto;
        font-family: 'Roboto', sans-serif;
     }
}

/* desktop */

@media screen and (min-width: 992px){

.container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Roboto', sans-serif;
}
}

