// principales
$gris-principale:#f6f6f6 ;
$gris-secondaire: #eaeaea;
$gris-tertiaire: #28282a;


// utilitaires couleur
$fond-vert: #99E2D0;
$fond-rose: #FF79DA;
$fond-violet: #9356DC;

// texte
$txt-fond-clair: #070707;
$txt-fond-sombre: #fdfdfd;
$txt-fond-neutre: #9c9c9c;