    
    header {
      
      padding: 15px 0px;
      @extend %flex-center;  

      a {
        color: $txt-fond-clair;
        position: absolute;
        left: 23px;

        .fa-solid {
          font-size: larger;
        }
      }
        
      img {
        width: 50%;
        }     
    }

    footer {
      background-color: $gris-tertiaire;
      padding: 20px;
      
      h1 {
        font-family: 'Shrikhand', cursive;
        color: $txt-fond-sombre;
        font-size:x-large;

      }
    
      ul {
        padding: 0%;
        li {
          list-style: none;
          padding: 5px;
    
          a {
             text-decoration: none;
            color: $txt-fond-sombre;
    
            i {
              padding-right: 10px;
            }
          }
           
        }
      
      }
      
    }

    